:root{
    --primary:#2563EB;
    --primary-dark:#1D4ED8;

    --background:#F8FAFC;

    --text:#1E293B;

    --gray:#64748B;

    --border:#CBD5E1;
}



html{
    scroll-behavior:smooth;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;

    
}

header{
    padding:20px 0;
    position:sticky;
    top:0;
    background:white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width:min(1100px,90%);
    margin:auto;
}

.logo{
    font-size:2rem;
    font-weight:700;
    color:var(--text);
    text-decoration:none;
}


nav {
    display: flex;
    gap: 30px;

}

nav a{
    text-decoration:none;
    color:var(--text);
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:var(--primary-dark);
    text-shadow: 0 0 20px var(--gray);

}

@media (max-width:768px) {
    header .container {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px

    }
}


section{
    scroll-margin-top: 88px;
}

@media (max-width:768px){
    section {
        scroll-margin-top: 128px;
    }
}

body {
    font-family:'poppins',sans-serif;
    background:var(--background);
    color:var(--text);  
}

.hero h1 {
    color: #2563EB;
    margin-top: 20px;
    font-size:4rem;
}

.hero h2 {
    color: #2563EB;
    margin-top: 20px;
    font-size:2rem;
}

.hero p{
    max-width:650px;
    line-height:1.7;
    margin-bottom:0;
}



.hero{
    min-height:calc(100vh - 80px);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    text-align:center;
}

.hero-divider{
    width:200px;
    border: 1px solid var(--primary-dark);
}



.about{
    min-height: calc(100vh - 80px);

    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:30px;

    margin: 100px;
    text-align:center;

    padding:100px 0;  
}




.about h2{
    padding: 20px;
    text-align: center;
}

.about p{
    padding: 20px;
    text-align: center;
}

.about > .col{
    justify-content: center;
    min-width: 300px;
    max-width: calc(50vw - 80px);
}

.about img {
    width: 300px;
    min-width: 100%;
    height: auto;
    border-radius: 25px;


}

@media (max-width:768px) {
    .about {
        flex-direction: column-reverse;

    }
    .about img {
        border-radius: 50%;
        margin-top: 50px;
    }
}



.skills {
    min-height: calc(100vh - 80px);
    padding: 100px 0;
}

.skills .section-container {
    width: min(1100px, 90%);
    margin: auto;
    text-align: center;

}

.section-description {
    margin-top: 10px;
    margin-bottom: 50px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.skill-card {
    padding: 30px;
    background-color:var(--background);
    border-radius: 12px;
    border: 1px solid #E2E8F0;
}

.skill-card h3 {
    color: var(--primary);
    margin-bottom: 15px;
}

@media (max-width:768px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}







.btn{
    display:inline-block;
    padding:15px 32px;
    margin-top:40px;
    border-radius:12px;
    background:var(--primary);
    color:white;
    text-decoration:none;
    transition:.3s;
}


.btn:hover{
    background:var(--primary-dark);
    transform:translateY(-2px);
}
